.frame {
    width: 900px;
    border: 1px solid gray;
    padding: 10px;
}
.top {
    border: 1px solid black;
    background-color: lightgray;
    padding: 10px;
}
table {
    font-size: 11pt;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px 0px 20px 0px;
}
table, th, td {
    border: 1px solid black;
}
th {
    background-color: lightcyan;
    font-weight: normal;
}
.pollTable, .pollTable td {
    border: 1px solid white;
    margin-left: 40px;
}
.pollTable2, .pollTable2 td {
    border: 1px solid white;
}
.footer{
    border: 1px solid gray;
    padding: 10px;
}
input[type="text"] {
    border-width: 1px;
    border-style: none none solid none;
}
input[type="radio"]{
    margin: 0 auto;
    display: block;
}
select{
    padding: 5px 15px 5px 15px;
}